apiVersion: k0sctl.k0sproject.io/v1beta1
kind: Cluster
metadata:
  name: ${clustername}
spec:
  hosts:
  %{ for addr in controller_addrs }
  - ssh:
      address: ${addr}
      user: root
      port: 22
    privateInterface: ens10
    role: controller
  %{ endfor }

  %{ for addr in worker_addrs }
  - ssh:
      address: ${addr}
      user: root
      port: 22
    privateInterface: ens10
    role: worker
    installFlags:
    - --enable-cloud-provider=true
  %{ endfor }

  k0s:
    version: ${version}
    config:
      kind: Cluster
      metadata:
        name: k0s
      spec:
        network:
          provider: calico
        api:
          externalAddress: ${externalAddress}
          sans:
            - ${externalAddress}
            - ${publicAddress}
